<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipeToDisplay.imagePath }}"
      alt="{{ recipeToDisplay.description }}"
      style="height: 300px; width: 300px; margin-bottom: 20px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeToDisplay.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="margin-bottom: 20px"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" appDropdown>
        <li>
          <a class="dropdown-item" (click)="onAddToShoppingList()"
            >Add to Shopping List</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 20px">
  <div class="col-xs-12">{{ recipeToDisplay.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" *ngFor="let ing of recipeToDisplay.ingredients">
      <li class="list-group-item">{{ ing.name }} - {{ ing.amount }}</li>
    </ul>
  </div>
</div>
